<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Konkurs hneu</title>
        <link rel="icon" type="image/x-icon" href="img/icon1.png" />
        <link rel="stylesheet" href="css/index.css" /> 
    </head>
    <body>
        <div id="preloader">
          Loading..
        </div>
        <div class="container">
            <div class="header">
                <h1>
                    KONKURS
                    <button id="start-btn">Почнемо!</button>
                    Порахуй свій бал
                </h1>
            </div>
            <div class="theme-switcher">
                <label class="switch">
                  <input type="checkbox" id="theme-toggle">
                  <span class="slider round"></span>
                </label>
                <img class="icon" src="img/day-night2.png" alt="Icon">
            </div>
            <div class="form-container">
                <form class="form">
                    <div class="select-container">
                        <label for="speciality-dropdown">Виберіть спеціальність:</label>
                        <select id="speciality-dropdown">
                        </select>
                    </div>
                    <div class="subjects-container">
                      <div class="select-container">Перший предмет:</div>
                      <div class="select-container">Другий предмет:</div>
                      <div class="select-container">
                          <label>Виберіть третій предмет:</label>
                          <select id="third-subject">
                          </select>
                      </div>
                    </div>
                    <div class="input-container">
                        <label>Впишіть свої бали:</label>
                        <input type="text" placeholder="Введіть бали" />
                    </div>
                    <button type="submit">Показати результат</button>
                </form>
            </div>
            <div class="result-container">
                <h2>Ваш результат:</h2>
                <div class="result"></div>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>
